@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:wght@400;500&display=swap');

*, *::before. *::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    line-height: 1.3;
    color: white;
}

img {
    max-width: 100%;
}

a { 
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    background: url('./img/wrapper.jpg') no-repeat;
    background-size: cover;
    background-position: -150px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.3em;
    font-family: 'Potta One', cursive;
    margin: 0;
    color: white;
    text-decoration: none;
}

header {
    padding: 2rem 0;
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;

    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.nav-toggle {
    display:block;
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: transparent;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    right: 0;  
    transform: translateY(-10%)

}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 500;

    font-size: 1.125em;
    margin-top: 2.5rem;
}

.nav__link:hover,
.nav__link:focus {
    opacity: 0.7;
}

.primary-btn {
    background: white;
    color: rgb(122, 122, 122);
    padding: 0.5rem 1.2rem;
    border-radius: 100px;
    font-weight: 500;
}

.primary-btn:hover
.primary-btn:focus {
    opacity: 0.7;
}


/* content */
.info {
    width: 80%;
    max-width: 500px;

    padding: 4rem 0;
}

.info__header {
    font-size: 3em;
    margin: 0;
}

.info__text {
    font-size: 1.3rem;
    font-style: italic;
    padding: 1.2rem 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#email {
    width: 80%;
    color: white;
    background: transparent;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    border: 1.5px solid rgb(253, 253, 253);
}


.info-btn {
    width: 30%;
    text-align: center;
    font-size: 1.3rem;
    margin: 0.8rem 0;
}


@media (min-width: 700px) {
    .wrapper {
        background-position: center;
    }

    header {
        display: flex;
    }

    .nav-toggle {
        display: none;
    }
    
    .nav {
        visibility: visible;
        height: auto;
        position: relative;

        display: flex;
        justify-content: flex-end;
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__link {
        margin: 0 0 0 4rem;
    }

}